<h1>Displaying all Patient {{record.patientId.screenName}}'s data in {{record.recordDate}} </h1>
<table border = "1">
    <thead>
        <tr>
            <th> Date </th>
            // 引用数据 records. 更改//
            <th> {{records.data.bgl.category}} </th>
            <th> {{records.data.doit.category}} </th>
            <th> {{records.data.weight.category}}</th>
            <th> {{records.data.exercise.category}} </th>
        </tr>
    </thead>
    <tbody>
        {{#each records.data}}
        <form action="/viewData" method="SAVE">
            {{#each value}}
                <tr>
                    <td>{{../createdData}}</td>
                    <td>{{this}}</td>
                    <td>{{this}}</td>
                    <td>{{this}}</td>
                    <td>{{this}}</td>
                </tr>
            {{/each}}
        </form>
        {{/each}}
    </tbody>
</table>