<head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.2/echarts.common.js"></script>
</head>
<body>
<div class="sidenav">
    <img src="../public/img/head.png" />
    <p>Pat</p >
    <img src="../public/img/recording.png" />
    <p>Record</p >
    <img src="../public/img/view.png" />
    <p>View</p >
    <img src="../public/img/ranking.png" />
    <p>Rank</p >
    <img src="../public/img/profile.png" />
    <p>Profile</p >
    <img src="../public/img/setting.png" />
    <p>setting</p >
    <img src="../public/img/warning.png" />
    <p>urgency</p >
</div>
<section>
 
  <div class="main">
           <div class="title-data">Display all data</div>
<table>
    <thead>
        <tr>
            <th> Date </th>
            <th> {{record.data.bgl.name}} </th>
            <th> {{record.data.doit.name}} </th>
            <th> {{record.data.weight.name}}</th>
            <th> {{record.data.exercise.name}} </th>
        </tr>
    </thead>
    <tbody>
        {{#each record.data.mock}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.bgl}}</td>
                    <td>{{this.doit}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.exercise}}</td>
                </tr>
        {{/each}}
    </tbody>
</table>

<div id='Weight' style="width: 100%;height:400px;margin-top:20px"></div>
<div id='Blood' style="width: 100%;height:400px;margin-top:20px"></div>
<div id='Exercise' style="width: 100%;height:400px;margin-top:20px"></div>
<div id='Insulin' style="width: 100%;height:400px;margin-top:20px"></div>


</div>
</body>