<form action="/clinicians/dashboard" method="GET"> 
  <div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p><a href="/clinicians/dashboard">Dashboard</a></p >

    <img src="/img/list-dash-header.png" />
    <p><a href="/clinicians/list of clinical notes">Note</a></p >

    <img src="/img/Comment-1.png" />
    <p><a href="clinicians/checkComment">Comment</a></p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p><a href="/clinicians/createProfile">Create</a></p >

    <img src="/img/icons8-search-account-64.png" />
    <p><a href="/clinicians/profile">Profile</a></p >
  </div>
<body>
  <div class="main">
    <table border="2" style="border-collapse: collapse; ">
        <thead style="width:200px; background-color:#9CD9DE">
            <th>Patient Name</th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Weight (kg)</th>
            <th>Exercise(Step count)</th>
        </thead>
        {{#each record}} 
        <tbody>          
                <tr>
                  <td >{{this.patientID.userName}}</td>
                  {{#each this.data}} 
                  {{#ifUnrecorded this.status}}
                  <td style = "color: #bb1f1f"><a href="/clinicians/safetythreshold">Missing</a></td>
                  {{else}}
                  
                  <td style="background-color:
                    {{#ifNoneed this.status}}
                    grey
                    {{else}}
                    {{#ifRecorded this.status}}
                    {{#ifOutSideThresholds this.value this.minThreshold this.maxThreshold}}
                    red
                    {{/ifOutSideThresholds}}
                    {{/ifRecorded}}
                    {{/ifNoneed }}
                    ;"><a href="/clinicians/safetythreshold">{{this.value}}</a></td>
                  {{/ifUnrecorded}}
                  {{/each}}

                </tr>
        </tbody>
        {{/each}}
    </table>
  </div>
</body>
</form>