<div class="sidenav">
  <img src="/img/Group-44.png" />
  <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

  <img src="/img/icons8-dashboard-64.png" />
  <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

  <img src="/img/Comment-1.png" />
  <p onClick="location.href='/clinicians/checkComment'">Comment</p >

  <img src="/img/icons8-add-user-male-96.png" />
  <p onClick="location.href='/clinicians/createProfile'">Create</p >

  <img src="/img/icons8-search-account-64.png" />
  <p onClick="location.href='/clinicians/profile'">Profile</p >
  <form method="POST" action="/clinicians/logout">
  <button>Log out</button>
  </form>
</div>
<form action="/clinicians/dashboard" method="GET"> 
<body>
  <div class="main">
    <table border="2" style="border-collapse: collapse; ">
        <thead style="width:200px; background-color:#9CD9DE">
            <th>Patient Name</th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Weight (kg)</th>
            <th>Exercise(Step count)</th>
        </thead>
        {{#each record}} 
        <tbody>          
                <tr onClick="location.href='/clinicians/dashboard/{{this.patientID._id}}'">
                  <td >{{this.patientID.userName}}</td>
                  {{#each this.data}} 
                  {{#ifUnrecorded this.status}}
                  <td style = "color: #bb1f1f">Missing</td>
                  {{else}}
                  <td style="background-color:
                    {{#ifNoneed this.status}}
                    grey
                    {{else}}
                    {{#ifRecorded this.status}}
                    {{#ifOutSideThresholds this.value record.minThreshold record.maxThreshold}}
                    red
                    {{/ifOutSideThresholds}}
                    {{/ifRecorded}}
                    {{/ifNoneed }}
                    ;">{{this.value}}</td>
                  {{/ifUnrecorded}}
                  {{/each}}
                </tr>
        </tbody>
        {{/each}}
    </table>
  </div>
</body>
</form>