
<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p><a href="/clinicians/dashboard">Dashboard</a></p >

    <img src="/img/Comment-1.png" />
    <p><a href="clinicians/checkComment">Comment</a></p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p><a href="/clinicians/createProfile">Create</a></p >

    <img src="/img/icons8-search-account-64.png" />
    <p><a href="/clinicians/profile">Profile</a></p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<div class="box_right_aaa">
    <form action="/clinicians/dashboard/{{patient._id}}/safetyThreshold" method="POST">
        <div class="pat_title">

            <div>Patient Name:</div>                                  
            <div class="pat_a" style="width: 400px;text-align: center;">{{patient.firstName}}</div> 
            <button class="pat_a" style="margin-left: 200px;width: 300px;">Update</button>
            <button class="pat_a"><a href="/clinicians/dashboard/{{patient._id}}">Back</a></button>
        </div>

        <table border="2" style="border-collapse: collapse;">
            <tr>
                <td>Data Status</td>
                <td>Data Type</td>
                <td>Safety Threshold</td>

            </tr>
             {{#each patient.timeseries}} 
            <tr>
                <td>
                <input type="hidden" name="patientID" value="{{doctor.patients.patientIDs}}">
                <input type="hidden" name="key" value="{{@key}}">
                <p> History: {{@keys.check}}</p>
                {{#if this.check}}
                <input type="radio" id="{{@key.check}}_yes" name="{{@key}}" value ="Record" required="required" checked>
                <label for="{{@key.check}}_yes"> Need to record </label>
                <input type="radio" id="{{@key.check}}_no" name="{{@key}}" value ="Not required" >
                <label for="{{@key}}_no"> Not required  </label>
                {{else}}
                <input type="radio" id="{{@key.check}}_yes" name="{{@key}}" value ="Record" required="required">
                <label for="{{@key.check}}_yes"> Need to record </label>
                <input type="radio" id="{{@key.check}}_no" name="{{@key}}" value ="Not required" checked>
                <label for="{{@key.check}}_no"> Not required  </label>
                </td>
                {{/if}}
                <td>{{this.name}}</td>
                <td>Min: <input type="digit" name="{{@key}}_min_value" placeholder="{{this.min}}">           Max: <input type="digit" name="{{@key}}_max_value" placeholder="{{this.max}}"></td>
            </tr>    
            {{/each}}
        </table>
    </form>   
</div>
