<head>
  <div class="header">
    <p class="left lightgreen">Diabetes@Home (Clinicians)</p >
  </div>
</head>

<body>
  <div class="sidenav">
    <img src="/img/Group-44.png" />
    <p>Chris</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p>Dashboard</p >

    <img src="/img/list-dash-header.png" />
    <p>Note</p >

    <img src="/img/Comment-1.png" />
    <p>Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p>Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p>Profile</p >
  </div>
  <div class="main">
    <table border="2" style="border-collapse: collapse;">
        <thead>
            <th style="width:200px">Patient Name</th>
            <th style="width:200px">Blood Glucose Level(/L)</th>
            <th style="width:250px">Insulin Taken(Times)</th>
            <th style="width:250px">Exercise(Step count)</th>
            <th style="width:200px">Weight (kg)</th>
        </thead>
        <tbody>
           
              <form action="/dashboard" method="GET">
                <tr>
                  <td >{{record.patientID.userName}}</td>
                  <td style="background-color:
                    {{#ifUnrecorded record.data.bgl.status}}
                    grey
                    {{else}}
                      {{#ifOutSideThresholds record.patientID.data.bgl.status record.patientID.data.bgl.value record.patientID.data.bgl.minThreshold record.patientID.data.bgl.maxThreshold}}
                      red
                      {{/ifOutSideThresholds}}
                    {{/ifUnrecorded}}
                    ;">
                    {{record.patientID.data.bgl.value}}
                  </td>
                  <td style="background-color:
                    {{#ifOutSideThresholds this.status this.value this.minThreshold this.maxThreshold}}
                    red
                    {{#ifUnrecorded this.status}}
                    yellow
                    {{else}}
                    grey
                    {{/ifUnrecorded}}
                    {{/ifOutSideThresholds}}
                    ;">
                    {{this.doit.value}}
                  </td>
                  <td style="background-color:
                    {{#ifOutSideThresholds this.status this.value this.minThreshold this.maxThreshold}}
                    red
                    {{#ifUnrecorded this.status}}
                    yellow
                    {{else}}
                    grey
                    {{/ifUnrecorded}}
                    {{/ifOutSideThresholds}}
                    ;">
                    {{this.weight.value}}
                  </td>
                  <td style="background-color:
                    {{#ifOutSideThresholds this.status this.value this.minThreshold this.maxThreshold}}
                    red
                    {{#ifUnrecorded this.status}}
                    yellow
                    {{else}}
                    grey
                    {{/ifUnrecorded}}
                    {{/ifOutSideThresholds}}
                    ;">
                    {{this.exercise.value}}
                  </td>
                </tr>
              </form>
           
        </tbody>
    </table>
  </div>
</section>