<section>
    <div class="sidenav">
        <div>
        <img src="/img/icons8-dashboard-64.png" />
        <div class="text">Dashboard</div>
        </div>

        <div>
        <img src="/img/list-dash-header.png" />
        <div class="text">Note</div>
        </div>

        <div>
        <img src="/img/Comment-1.png" />
        <div class="text">Comment</div>
        </div>

        <div>
        <img src="/img/icons8-add-user-male-96.png" />
        <div class="text">Create</div>
        </div>

        <div>
        <img src="/img/icons8-search-account-64.png" />
        <div class="text">Profile</div>
        </div>

    </div>
    
    <div class="main">
        <table border="2" style="border-collapse: collapse;">
            <thead>
                <th style="width:200px">Name</th>
                <th style="width:200px">Blood Glucose Level(Nmol/L)</th>
                <th style="width:250px">Insulin Taken(Times)</th>
                <th style="width:250px">Exercise(Step count)</th>
                <th style="width:200px">Weight (kg)</th>
            </thead>
            <tbody>
                {{#each record.data}}
                <form action="/dashboard" method="GET">
                        <tr>
                            <td >{{record.patientID.userName}}</td>
                            <td style="background-color:
                            {{#ifOutsidethresholds this.bgl.value}}
                            red
                            {{#ifUnrecorded this.bgl.status}}
                            yellow
                            {{else}}
                            grey
                            {{/ifUnrecorded}}
                            {{/ifOutsidethresholds}}
                            ;">
                            {{#each this.bgl.value}}
                            </td>
                            <td style="background-color:
                            {{#ifOutsidethresholds this.doit.value}}
                            red
                            {{#ifUnrecorded this.doit.status}}
                            yellow
                            {{else}}
                            grey
                            {{/ifUnrecorded}}
                            {{/ifOutsidethresholds}}
                            ;">
                            {{#each this.doit.value}}
                            </td>
                            <td style="background-color:
                            {{#ifOutsidethresholds this.exercise.value}}
                            red
                            {{#ifUnrecorded this.exercise.status}}
                            yellow
                            {{else}}
                            grey
                            {{/ifUnrecorded}}
                            {{/ifOutsidethresholds}}
                            ;">
                            {{#each this.exercise.value}}
                            </td>
                            <td style="background-color:
                            {{#ifOutsidethresholds this.weight.value}}
                            red
                            {{#ifUnrecorded this.weight.status}}
                            yellow
                            {{else}}
                            grey
                            {{/ifUnrecorded}}
                            {{/ifOutsidethresholds}}
                            ;">
                            {{#each this.weight.value}}
                            </td>
                        </tr>
                </form>
            </tbody>
        </table>
    </div>
</section> 

