<div id="sidenav" class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<form action="/clinicians/dashboard/{{patient._id}}" method="GET">
<section   class="pviewdata-section"  style="margin-top: 100px;margin-left:100px;">
    <div class="pviewdata-left">
            <div><a href="/clinicians/dashboard/{{patient._id}}/safetyThreshold">Safty Thresholds</a></div>
            <div><a href="/clinicians/dashboard/{{patient._id}}/listClinicalNotes">Clinical Notes</a></div>
            <div><a href="/clinicians/dashboard/{{patient._id}}/messages">Support Message</a></div>
            <div><a href="/clinicians/dashboard/{{patient._id}}/viewChart">Line Charts</a></div>
        </div>
<div class="main">
        
        <div class="title-data"><h6 style="margin-left: 100px;">Patient Name: {{patient.firstName}}&nbsp;&nbsp;&nbsp;&nbsp;Age: {{age.age}} &nbsp;&nbsp;&nbsp;&nbsp;Gender:Male</h6></div>
        <div class="table-without-border">
<table>
    <thead>
        <tr>
            <th> Date </th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Weight (kg)</th>
            <th>Exercise(Step count)</th>

        </tr>
    </thead>
    
    <tbody>
        {{#each record}}
        <tr>
            <td >{{this.recordDate}}</td>
            {{#each this.data}}
            {{#ifUnrecorded this.status}}
            <td style = "color: #bb1f1f">Missing</td>
            {{else}}
            <td style="background-color:
            {{#ifNoneed this.status}}
            grey
            {{/ifNoneed }}
            ;">{{this.value}}</td>
            {{/ifUnrecorded}}
            {{/each}}
            </tr>
            {{/each}}
    </tbody>
    
</table>
</div>
</section>
</form>