
<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p >{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p><a href="/clinicians/dashboard">Dashboard</a></p >

    <img src="/img/list-dash-header.png" />
    <p><a href="/clinicians/list of clinical notes">Note</a></p >

    <img src="/img/Comment-1.png" />
    <p><a href="clinicians/checkComment">Comment</a></p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p><a href="/clinicians/createProfile">Create</a></p >

    <img src="/img/icons8-search-account-64.png" />
    <p><a href="/clinicians/profile">Profile</a></p >
</div>
<div class="box_right_aaa">
    <form action="/clinicians/safetyThreshold" method="POST">
        <div class="pat_title">

            <div>Patient Name:</div>                                     //是否应该用record.patientID来寻找名字 ？//
            <div class="pat_a" style="width: 400px;text-align: center;">{{doctor.patients.patientIDs.patientName}}</div> //可能会有error 返回的是clinician点击时病人的名字 //
            <button class="pat_a" style="margin-left: 200px;width: 300px;">Update</button>
        </div>

        <table border="2" style="border-collapse: collapse;">
            <tr>
                <td>Data Status</td>
                <td>Data Type</td>
                <td>Safety Threshold</td>

            </tr>
            <tr>
                <td>
                {{#each record.data}} //each 循环的docotr里面的记录timeseries还是 病人自己的timeseries？//
                    <input type="hidden" name="patientID" value="{{../patients.patientIDs}}">
                    <input type="hidden" name="key" value="{{this.bgl}}">
                    {{this.bgl}}: 
                    {{#if this}}
                        <input type="checkbox" id="{{this.bgl}}_yes" name="{{this.bgl}}" value="true" required="required" checked>
                        <label for="{{this.bgl}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.bgl}}_no" name="{{this.bgl}}" value="false" >
                        <label for="{{this.bgl}}_no"> Not required</label>
                    {{else}}
                        <input type="checkbox" id="{{this.bgl}}_yes" name="{{this.bgl}}" value="true" required="required">
                        <label for="{{this.bgl}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.bgl}}_no" name="{{this.bgl}}" value="false" checked>
                        <label for="{{this.bgl}}_no"> Not required </label>
                    {{/if}}
                {{/each}}
                </td>
                <td> Blood Glucose Level (nmol)</td>
                <td>Min: <input type="digit" name="min_value" placeholder="Enter min threshold" required>           Max: <input type="digit" name="max_value" placeholder="Enter max threshold" required></td>
            
            </tr>
            <tr>
                <td>
                {{#each record.data}} 
                    <input type="hidden" name="patientID" value="{{../patientID}}">
                    <input type="hidden" name="key" value="{{this.doit}}">
                    {{this.doit}}: 
                    {{#if this}}
                        <input type="checkbox" id="{{this.doit}}_yes" name="{{this.doit}}" value="true" required="required" checked>
                        <label for="{{this.doit}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.doit}}_no" name="{{this.doit}}" value="false" >
                        <label for="{{this.doit}}_no"> Not required</label>
                    {{else}}
                        <input type="checkbox" id="{{this.doit}}_yes" name="{{this.doit}}" value="true" required="required">
                        <label for="{{this.doit}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.doit}}_no" name="{{this.doit}}" value="false" checked>
                        <label for="{{this.doit}}_no"> Not required </label>
                    {{/if}}
                {{/each}}
                </td>
                <td>Insulin taken (does)</td>
                <td>Min: <input type="digit" name="min_value" placeholder="Enter min threshold" required>           Max: <input type="digit" name="max_value" placeholder="Enter max threshold" required></td>
        

            </tr>
            <tr>
                <td>
                {{#each record.data}} 
                    <input type="hidden" name="patientID" value="{{../patients.patientIDs}}">
                    <input type="hidden" name="key" value="{{this.weight}}">
                    {{this.weight}}: 
                    {{#if this}}
                        <input type="checkbox" id="{{this.weight}}_yes" name="{{this.weight}}" value="true" required="required" checked>
                        <label for="{{this.weight}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.weight}}_no" name="{{this.weight}}" value="false" >
                        <label for="{{this.weight}}_no"> Not required</label>
                    {{else}}
                        <input type="checkbox" id="{{this.weight}}_yes" name="{{this.weight}}" value="true" required="required">
                        <label for="{{this.weight}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.weight}}_no" name="{{this.weight}}" value="false" checked>
                        <label for="{{this.weight}}_no"> Not required </label>
                    {{/if}}
                {{/each}}
                </td>
                <td>Weight (kg)</td>
                <td>Min: <input type="min_digit" name="value" placeholder="Enter min threshold" required>           Max: <input type="digit" name="max_value" placeholder="Enter max threshold" required></td>
        

            </tr>
            <tr>
                <td>
                {{#each record.data}} 
                    <input type="hidden" name="patientID" value="{{../patients.patientIDs}}">
                    <input type="hidden" name="key" value="{{this.exercise}}">
                    {{this.exercise}}: 
                    {{#if this}}
                        <input type="checkbox" id="{{this.exercise}}_yes" name="{{this.exercise}}" value="true" required="required" checked>
                        <label for="{{this.exercise}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.exercise}}_no" name="{{this.exercise}}" value="false" >
                        <label for="{{this.exercise}}_no"> Not required</label>
                    {{else}}
                        <input type="checkbox" id="{{this.exercise}}_yes" name="{{this.exercise}}" value="true" required="required">
                        <label for="{{this.exercise}}_yes"> Need to record </label>
                        <input type="checkbox" id="{{this.exercise}}_no" name="{{this.exercise}}" value="false" checked>
                        <label for="{{this.exercise}}_no"> Not required </label>
                    {{/if}}
                {{/each}}
                </td>
                <td> Exercise (steps)</td>
                <td>Min: <input type="digit" name="min_value" placeholder="Enter min threshold" required>           Max: <input type="digit" name="max_value" placeholder="Enter max threshold" required></td>
            </tr>
        </table>
    </form>   
</div>
