<div class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<form action="/clinicians/checkComment" method="GET">
<div class="tabBal">
    <table border="2" style="border-collapse: collapse;">
        <tr class="tt_a">
            <td>Patient Name</td>
            <td>Clinician Name</td>
            <td>Comment</td>
            <td>By which data</td>
        </tr>
        {{#each cl}}
        <tr>
            <td>{{this.patient.firstName}}</td>
            <td>{{this.patient.doctor}}</td>
            <td class="comment">{{this.comment}}</td>
            <td>{{this.data}}</td>
        </tr>
        {{/each}}
    </table>
</div>
</form>