<div class="box_right_aaa">
    <div id="sidenav" class="sidenav">
        <img src="/img/Group-44.png" />
        <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

        <img src="/img/icons8-dashboard-64.png" />
        <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

        <img src="/img/Comment-1.png" />
        <p onClick="location.href='/clinicians/checkComment'">Comment</p >

        <img src="/img/icons8-add-user-male-96.png" />
        <p onClick="location.href='/clinicians/createProfile'">Create</p >

        <img src="/img/icons8-search-account-64.png" />
        <p onClick="location.href='/clinicians/profile'">Profile</p >
        <form method="POST" action="/clinicians/logout">
        <button>Log out</button>
        </form>
    </div>
    <form action="/clinicians/dashboard/{{patient._id}}/messages" method="POST">
    <div class="pn_box2" style="margin-top: 100px;">
        <div>Support Message : {{patient.supportMes}}</div>
        <div style="display: flex;flex-direction:row"><div style="line-height: 90px;vertical-align: middle;">Patient Name:</div><div class="pp_box" style="padding-left:20px;">{{patient.firstName}}</div></div>
        
    
    </div>

    <div class="textarea" style="width: 40%;height:400px;margin-left:30%;margin-bottom:30%;">
        <input type="hidden" name="patientId" value="{{doctor.patients.patientIDs}}">
        <textarea name="supportMessage" id="supportMessage"  placeholder="Enter Support Message"></textarea>
    </div>
    <div class="textarea_footer">less than 50 words.</div>
    <button class="send" style="margin-top 10%: ;margin-left: 40%;border:0;">Send</button>
    </form>
</div>


