<form action="/clinicians/viewData" method="GET">
    <div class="sidenav">
                <img src="/img/Group-44.png" />
                <p>{{doctor.firstName}}</p >

                <img src="/img/icons8-dashboard-64.png" />
                <p>Dashboard</p >

                <img src="/img/list-dash-header.png" />
                <p>Note</p >

                <img src="/img/Comment-1.png" />
                <p>Comment</p >

                <img src="/img/icons8-add-user-male-96.png" />
                <p>Create</p >

                <img src="/img/icons8-search-account-64.png" />
                <p>Profile</p >
            </div>
    </div>
<section>

<div class="main">
        <div class="title-data"><h6>Patient Name: {{patient.userName}}&nbsp;&nbsp;&nbsp;&nbsp;Age: {{age.age}} &nbsp;&nbsp;&nbsp;&nbsp;Gender:Male</h6></div>
<table>
    <thead>
        <tr>
            <th> Date </th>
            <th>Blood Glucose Level(/L)</th>
            <th>Insulin Taken(Times)</th>
            <th>Weight (kg)</th>
            <th>Exercise(Step count)</th>

        </tr>
    </thead>
    <tbody>
        {{#each record}} 
            <td >{{this.recordDate}}</td>
                
                {{#ifUnrecorded this.data.status}}
                <td style = "color: #bb1f1f">Missing</td>
                {{else}}
                
                <td style="background-color:
                {{#ifNoneed this.status}}
                grey
                {{/ifNoneed }}
                ;">
                {{this.data.value}}
                </td>
                {{/ifUnrecorded}}
        {{/each}}
    </tbody>
</table>
<button class="viewdatabotton">View</button>
<p class="annotationofbotton">View Data On Chart</p>
</section>
</form>