<div id="sidenav" class="sidenav">
    <img src="/img/Group-44.png" />
    <p onClick="location.href='/clinicians/home'">{{doctor.firstName}}</p >

    <img src="/img/icons8-dashboard-64.png" />
    <p onClick="location.href='/clinicians/dashboard'">Dashboard</p >

    <img src="/img/Comment-1.png" />
    <p onClick="location.href='/clinicians/checkComment'">Comment</p >

    <img src="/img/icons8-add-user-male-96.png" />
    <p onClick="location.href='/clinicians/createProfile'">Create</p >

    <img src="/img/icons8-search-account-64.png" />
    <p onClick="location.href='/clinicians/profile'">Profile</p >
    <form method="POST" action="/clinicians/logout">
    <button>Log out</button>
    </form>
</div>
<form action="/clinicians/checkComment" method="GET" style="margin-top: 100px;">
<div class="table-without-border">

    <table style="margin-left: 100px;">
        <thead class="tt_a">
            
            <th>Patient Name</th>
            <th>Clinician Name</th>
            <th>Comment</th>
            <th>By which data</th>
            
        </thead>
        <tbody>
        {{#each cl}}
        <tr onClick="location.href='/clinicians/dashboard/{{patient._id}}'">
            <td>{{this.patient.firstName}}</td>
            <td>{{this.patient.doctor}}</td>
            <td class="comment">{{this.comment}}</td>
            <td>{{this.data}}</td>
        </tr>
        {{/each}}
        
        </tbody>
    </table>
</div>
</form>