<div id="sidenav" class="sidenav">
  <img src="../public/img/head1.png" />
  <p onClick="location.href='/patients/home'">{{patient.userName}}</p>
  <img src="../public/img/recording.png" />
  <p onClick="location.href='/patients/recordData'">Record</a></p>
  <img src="../public/img/view.png" />
  <p onClick="location.href='/patients/viewTable'">View</a></p>
  <img src="../public/img/ranking.png" />
  <p onClick="location.href='/patients/recordRank'">Rank</a></p>
  <img src="../public/img/profile.png" />
  <p onClick="location.href='/patients/profile'">Profile</a></p>
  <p onClick="location.href='/patients/AboutDiabetes'">About Diabetes</a></p>
  <p onClick="location.href='/patients/AboutWebsite'">About Website</a></p>
  <form method="POST" action="/patients/logout">
    <button id="button">Log out</button>
  </form>
</div>
<form action="/patients/viewTable" method="GET">
    <section style="margin-top: 100px;margin-left:100px;">
        <div class="main">
            <div class="title-data">
                <h6>Patient Name: {{patient.userName}}&nbsp;&nbsp;&nbsp;&nbsp;Age: {{age.age}}
                    &nbsp;&nbsp;&nbsp;&nbsp; <button style="border: 0;height:40px;box-shadow: 1px 2px 2px #ccc;background-color:#B2E2DC;"><a href="/patients/viewChart" style="padding:10px;font-size: 30px;">View Chart</a></button></h6> 
            </div>
            <div class = "table-without-border" style="height: 800px;">
                <table id="table" >
                    <thead id="tablehead">
                        <tr>
                            <th style="text-align:center;"> Date </th>
                            <th style="text-align:center;">Blood Glucose Level(/L)</th>
                            <th style="text-align:center;">Insulin Taken(Times)</th>
                            <th style="text-align:center;">Weight (kg)</th>
                            <th style="text-align:center;">Exercise(Step count)</th>
                        </tr>
                    </thead>
                    
                    <tbody class="viewdatatbody">
                        {{#each record}}
                        <tr>
                        <td style="text-align:center;">{{this.recordDate}}</td>
                        {{#each this.data}}
                        {{#ifUnrecorded this.status}}
                        <td style="color: #bb1f1f;text-align:center;">Missing</td>
                        {{else}}
                        <td style="background-color:
                    {{#ifNoneed this.status}}
                    grey
                    {{/ifNoneed }}
                    ;text-align:center;">{{this.value}}</td>
                        {{/ifUnrecorded}}
                        {{/each}}
                        </tr>
                           {{/each}}
                    </tbody>
                 

                </table>
            </div>
             </section>
</form>


{{!-- <h1 style="text-align: center;"> View Last 15 Days History Data </h1>
<form action="/patients/viewData" method="GET">
    <div
        style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between">
        {{> blood dates=dates datas=datas}}
        {{> weight dates=dates datas=datas}}
        {{> insulin dates=dates datas=datas}}
        {{> exercise dates=dates datas=datas}}
    </div>
</form> --}}