<body>
    <div id="sidenav" class="sidenav">
        <img src="../public/img/head1.png" />
        <p onClick="location.href='/patients/home'">{{patient.userName}}</p>
        <img src="../public/img/recording.png" />
        <p onClick="location.href='/patients/recordData'">Record</a></p>
        <img src="../public/img/view.png" />
        <p onClick="location.href='/patients/viewTable'">View</a></p>
        <img src="../public/img/ranking.png" />
        <p onClick="location.href='/patients/recordRank'">Rank</a></p>
        <img src="../public/img/profile.png" />
        <p onClick="location.href='/patients/profile'">Profile</a></p>
        <p onClick="location.href='/patients/AboutDiabetes'">About Diabetes</a></p>
        <p onClick="location.href='/patients/AboutWebsite'">About Website</a></p>
        <form method="POST" action="/patients/logout">
            <button id="button">Log out</button>
        </form>
    </div>
    <form action="/patients/profile" method="GET">
        <div class="box_right_aaa" style="margin: 100px;">
            <div class="box_foot">
                <div ><img  style="width:170px;margin-top:100px;margin-left:100px" src="../img/head1.png" alt=""></div>
                <div style="margin: 100px 0px;">
                    <div class="right_ipt">
                        <div class="right_ipt_a">Full Name :</div>
                        <div class="right_ipt_b">{{patient.firstName}} {{patient.lastName}}</div>
                    </div>
                    <div class="right_ipt">
                        <div class="right_ipt_a">Doctor name :</div>
                        <div class="right_ipt_b">{{patient.doctor}}</div>
                    </div>
                    <div class="right_ipt">
                        <div class="right_ipt_a">Age : </div>
                        <div class="right_ipt_b">{{data.age}}</div>
                    </div>
                    <div class="right_ipt">
                        <div class="right_ipt_a">Email Address : </div>
                        <div class="right_ipt_b">{{patient.email}}</div>
                    </div>
                    <div class="right_ipt" style="display: flex;justify-content: center;">
                        <button id="button" style="margin-left:20px;margin-top:20px;background: rgba(196, 237, 195, 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 40%);border:none;font-size:30px"><a href="/patients/updatePassword">Change
                                Password</a></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
