<div id="sidenav" class="sidenav">
    <img src="../public/img/head.png" />
    <p onClick="location.href='/patients/home'">{{patient.userName}}</p >
    <img src="../public/img/recording.png" />
    <p onClick="location.href='/patients/recordData'">Record</a></p >
    <img src="../public/img/view.png" />
    <p onClick="location.href='/patients/viewTable'">View</a></p >
    <img src="../public/img/ranking.png" />
    <p onClick="location.href='/patients/recordRank'">Rank</a></p >
    <img src="../public/img/profile.png" />
    <p onClick="location.href='/patients/profile'">Profile</a></p >
    <p onClick="location.href='/patients/AboutDiabetes'">About Diabetes</a></p>
    <p onClick="location.href='/patients/AboutWebsite'">About Website</a></p>
    <form method="POST" action="/patients/logout">
    <button id="button">Log out</button>
    </form>
</div>
<form action="/patients/rank" method="GET"></form>
<section>
  <div class="ranking-box" style="margin: 100px;padding-left:300px">
    <div class="box-title">Top 5 Badge Ranking</div>
    <div class="box-tip">You Have Been Here For <span class="red">{{day}}</span> Days</div>
    <div class="rank">
      <div class="rank-table">
        <div class="rank-thead">
          <div class="rank-title">Rank</div>
          <div class="rank-title">Name</div>
          <div class="rank-title">Rate</div>
          <div class="rank-title">Badge</div>
        </div>
        <div class="rank-tbody">

          <div class="rank-user">
            <div class="rank-no">No.1</div>
            <div class="rank-no">No.2</div>
            <div class="rank-no">No.3</div>
            <div class="rank-no">No.4</div>
            <div class="rank-no">No.5</div>
            {{#each rank}}
            <div class="rank-name">
              <img src="../public/img/head.png" alt="">
              <span>{{this.userName}}</span>
            </div>
            <div class="rank-rate">{{this.recordRate}}</div>
            {{/each}}
            <div class="rank-badge"><img src="../public/img/icons8-number-60-1.png" name="" alt=""></div>
            <div class="rank-badge"><img src="../public/img/No.2.png" name="" alt=""></div>
            <div class="rank-badge"><img src="../public/img/No.3.png" name="" alt=""></div>
            <div class="rank-badge"><img src="../public/img/badge.png" name="" alt=""></div>
            <div class="rank-badge"><img src="../public/img/badge.png" name="" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  Doctor {{patient.doctor}} : {{patient.supportMes}}
</footer>
</form>