{{!-- <head>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.3.2/echarts.common.js"></script>
</head>
<body>
    <form action="/patients/viewData" method="GET">
    <div class="sidenav">
        <img src="../public/img/head.png" />
        <p>Pat</p >
        <img src="../public/img/recording.png" />
        <p>Record</p >
        <img src="../public/img/view.png" />
        <p>View</p >
        <img src="../public/img/ranking.png" />
        <p>Rank</p >
        <img src="../public/img/profile.png" />
        <p>Profile</p >
        <img src="../public/img/setting.png" />
        <p>setting</p >
        <img src="../public/img/warning.png" />
        <p>urgency</p >
    </div>
    <section>
    
    <div class="main">
            <div class="title-data"><h6>Patient Name: David Li&nbsp;&nbsp;&nbsp;&nbsp;Age:63 &nbsp;&nbsp;&nbsp;&nbsp;Gender:Male</h6></div>
    <table>
        <thead>
            <tr>
                <th> Date </th>
                <th> {{data.bgl.name}} </th>
                <th> {{data.doit.name}} </th>
                <th> {{data.weight.name}}</th>
                <th> {{data.exercise.name}} </th>
            </tr>
        </thead>
        <tbody>
            {{#each data.mock}}
                    <tr>
                        {{!-- <td>{{this.date}}</td> --}}
                        {{!-- <td>{{this.bgl}}</td>
                        <td>{{this.doit}}</td>
                        <td>{{this.weight}}</td>
                        <td>{{this.exercise}}</td>
                    </tr>
            {{/each}}
        </tbody>
    </table>
    <div >
    {{> data.bgl date=date data=data}}
    {{> data.excercise date=date data=data}}
    {{> data.doit date=date data=data}}
    {{> data.weight date=date data=data}}
    </div>

    </div>
    </section>
    </form>
</body> --}} 

<h1 style="text-align: center;"> View Last 15 Days History Data </h1>
<form action="/patients/viewData" method="GET">
<div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; align-content: space-between">
  {{> bgl dates=dates datas=datas}}
  {{> weight dates=dates datas=datas}}
  {{> doit dates=dates datas=datas}}
  {{> exercise dates=dates datas=datas}}
</div>
</form>