
<div class="sidenav">
    <img src="../public/img/head.png" />
    <p>{{patient.userName}}</p >
    <img src="../public/img/recording.png" />
    <p><a href="/patients/recordData">Record</a></p >
    <img src="../public/img/view.png" />
    <p><a href="/patients/viewTable">View</a></p >
    <img src="../public/img/ranking.png" />
    <p><a href="/patients/recordRank">Rank</a></p >
    <img src="../public/img/profile.png" />
    <p><a href="/patients/profile">Profile</a></p >
    <img src="../public/img/setting.png" />
    <p>setting</p >
    <img src="../public/img/warning.png" />
    <p>urgency</p >
</div>
<section>
  <div class="main">
        <h3>Date: {{record.recordDate}}</h3>
        <h4>Doctor {{record.patientID.doctor}} : {{record.patientID.supportMes}}</h4>
        <div class="hint">
        <p> * You don't need to record if the color is grey.</p >
        </div>
        <div class="flex-grid">
        {{#each record.data}} 
        <form action="/patients/recordData" method="POST">
            <div class="d-col-6 item-block">
                <div class="flex-grid padding-10">
                    {{#ifRecorded this.status}}
                        <div class="d-col-1">
                            <div class="d-col-2">
                            {{#ifbgl this.name}}
                            <img class="img-1" src="/img/glucose.png" alt="glucose.png" />
                            {{/ifbgl}}
                            {{#ifdoit this.name}}
                            <img class="img-2" src="/img/insulin.png" alt="insulin.png" />
                            {{/ifdoit}}
                            {{#ifweight this.name}}
                            <img class="img-3" src="/img/weight.png" alt="weight.png" />
                            {{/ifweight}}
                            {{#ifexercise this.name}}
                            <img class="img-4" src="/img/exercise.png" alt="exercise.png" />
                            {{/ifexercise}}
                            </div>
                            <div class="d-col-4">
                            <p class="left">{{@keys}} <input type="hidden" name="key" value="{{@key}}"></p >                    
                            </div>

                            <div class="d-col-4">
                            <p class="left">{{this.name}}:  {{this.value}} </p >
                            </div>
                          
                          
                            <div class="d-col-4">
                            <p class="left">Recording time:  {{this.createdDate}}</p >
                            </div>
                          
                          
                            <div class="d-col-4">
                            <p class="left">Data status:  {{this.status}}</p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">Comment:  {{this.comment}}</p >
                            </div>
                           
                        </div>
                    {{else}}
                    {{#ifUnrecorded this.status}}
                        <div class="d-col-1">                         
                            <div class="d-col-2">
                            {{#ifbgl this.name}}
                            <img class="img-1" src="/img/glucose.png" alt="glucose.png" />
                            {{/ifbgl}}
                            {{#ifdoit this.name}}
                            <img class="img-2" src="/img/insulin.png" alt="insulin.png" />
                            {{/ifdoit}}
                            {{#ifweight this.name}}
                            <img class="img-3" src="/img/weight.png" alt="weight.png" />
                            {{/ifweight}}
                            {{#ifexercise this.name}}
                            <img class="img-4" src="/img/exercise.png" alt="exercise.png" />
                            {{/ifexercise}}
                            </div>
                            <div class="d-col-4">
                            <p class="left">{{@keys}} <input type="hidden" name="key" value="{{@key}}"></p >
                            </div>
                          
                        
                            <div class="d-col-4">
                            <p class="left">{{this.name}}: <input type="digit" name="value" placeholder="Enter your record here" required></p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">Data status:  {{this.status}}</p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">Comment: <input type="text" name="comment" placeholder="Enter your comment here"></p >
                            </div>
                        
                            <div class="d-col-12">
                              <button type="submit"> submit </button>
                            </div>
                        </div>
                    {{else}}
                    {{#ifNoneed this.status}}
                        <div class="d-col-1-grey">
                            <div class="d-col-2">
                            {{#ifbgl this.name}}
                            <img class="img-1" src="/img/glucose.png" alt="glucose.png" />
                            {{/ifbgl}}
                            {{#ifdoit this.name}}
                            <img class="img-2" src="/img/insulin.png" alt="insulin.png" />
                            {{/ifdoit}}
                            {{#ifweight this.name}}
                            <img class="img-3" src="/img/weight.png" alt="weight.png" />
                            {{/ifweight}}
                            {{#ifexercise this.name}}
                            <img class="img-4" src="/img/exercise.png" alt="exercise.png" />
                            {{/ifexercise}}
                            </div>
                           
                            <div class="d-col-4">
                            <p class="left">{{@keys}} <input type="hidden" name="key" value="{{@key}}"></p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">{{this.name}}:</p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">Recording time:</p >
                            </div>
                          
                            <div class="d-col-4">
                            <p class="left">Data status:  {{this.status}}</p >
                            </div>
                        
                            <div class="d-col-4">
                            <p class="left">Comment:</p >
                            </div>
                            
                        </div>
                    {{/ifNoneed}}
                    {{/ifUnrecorded}}
                    {{/ifRecorded}}
                    </form>
                    {{/each}}
                </div>
            </div>
        
        {{!-- {{/each}} --}}
    </div>
</section> 


